<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<style>
.box{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: {{ color1 }};
    margin: 0;
}
.box2{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: {{ color2 }};
    margin: 0;
}
</style>

<body>

{% for row in range(x) %}
    {% for col in range (y) %}
        {% if (col + row) % 2 == 0 %}
            <div class = "box"></div>
        {% else %}
            <div class = "box2"></div>
        {% endif %}
    {% endfor %}
    <br>
{% endfor %}

    
</body>
</html>
