<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>
</head>
<body>
    <h1>We are logged in</h1>
    <h2>{{session["user_id"]}}</h2>
    <p>Trying out the user</p>
    <p>{{user.first_name}}</p>
    <p>{{user.last_name}}</p>
    <p>{{user.password}}</p>
    <p>{{user.email}}</p>
        <p>{{user.id}}</p>
        <br>
        <a href="/logout">Logout</a>
</body>
</html>