<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All TV Shows</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
</head>
<body>
    <header class = "flex">
        <h1>Dashboard</h1>
        <div>
        <a href="/logout">Logout</a>
    </div>
    </header>
    <br>
    <div class="main2">
    <h2>Howdy, {{ user.first_name }}</h2>
    <br><br>
    
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for show in all_shows %}
            <p>Show Id: {{show.user_id}} and session is {{session.user_id}}</p>
            
            <tr>
                <td>{{show.title}}</td>
                <td>{{show.network}}</td>
                <td>{{show.release_date}}</td>
                {% if show.user_id == session.user_id %}
                        
                <td><a href="/show/{{show.id}}">show</a> | <a href="/edit/{{show.id}}">edit</a> | <a href="/show/delete/{{show.id}}">delete</a></td>
                {% endif %}
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <a href="/new" id="new_show">Add a New Show</a>
    </div>

</body>
</html>