<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
    <title>Edit Show</title>
</head>
<body>
    <header class = "flex">
        <h1>Edit Show</h1>
        <div>
        <a href="/dashboard">TV Shows</a> |
        <a href="/logout">Logout</a>
    </div>
    </header>
    <br>
    <div class="main2">

        <h2>Edit {{ show.title }}</h2>
        <br>
        <form action="/edit/{{show.id}}/process",, method="post">
            
            <p>Title:</p>
            <input type="text" name = "title" value = "{{show.title}}">
            <br><br>
            <p>Network:</p>
            <input type="text" name = "network" value = "{{show.network}}">
            <br><br>
            <p>Release Date:</p>
            <input type="date" name= "release_date" value = {{show.release_date}}>
            <br><br>
            <p>Description:</p>
            <input type="textarea" name = "description" value = "{{show.description}}">
            <br><br>
            <input type="submit">

        </form>
    </div>
    <br><br>
    <div class="errors">
        {% with messages = get_flashed_messages() %}
            {% if messages %}                            
                {% for message in messages %}            
                    <p>{{message}}</p><br>                  
                {% endfor %}
            {% endif %}
            {% endwith %}
    </div>
</body>
</html>