<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Table Assignment</title>
</head>
<body>
    <h2>Table of Users</h2>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            {% for field in users %}
            <tr>
                <td>{{field['first_name']}}</td>
                <td>{{field['last_name']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>