<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style.css') }}">
    <title>Create New Recipe</title>
</head>
<body>
    <header class="flex">
        <h1>Add New Recipe</h1>
        <div><a href="/dashboard">Dashboard </a><a href="/logout">Logout</a></div>
    </header>
    <br>
    <main class="main2 flex">
        <form action="/create_recipe" method="post">
            <p>Name</p>
            <input type="text" name="name">
            <br><br>
            <p>Description</p>
            <textarea name="description" cols="30" rows="3"></textarea>
            <br><br>
            <p>Instructions</p>
            <textarea name="instruction" id="" cols="30" rows="3"></textarea>
            <br><br>
            <p>Date Made On</p>
            <input type="date" name="created_at">
            <br><br>
            <p>Under 30 minutes?</p>
            <input type="text" name = "is_under_30">
            <br><br>
            <input type="submit" value="Create">
            
        </form>
    </main>
    <div class="spacer">
        {% with messages = get_flashed_messages() %}
        {% if messages %}                            
            {% for message in messages %}            
                <p>{{message}}</p><br>                  
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</body>
</html>